# FUNCTIONS, MODULE, & PACKAGES

##Functions :

In [1]:
# Function di gunakan untuk membuat customize syntax seperti print, dll
# caranya dengan menuliskan def nama_function (parameter yg diperlukan)
# nama function harus unique agar tidak bertabrakan dengan build in function di system 
# function baru harus di akhiri oleh print atau return
# contoh :

In [2]:
def cetak (nama):
  print(f'saya adalah {nama}')

#funtion cetak ini akan menghasilkan perintah print dibawahnya
#contoh:

In [3]:
cetak ('Rio')

saya adalah Rio

In [4]:
def status (nama,pekerjaan,umur):
  print(f'nama saya adalah {nama} menjabat sebagai {pekerjaan} dengan umur {umur}')

In [5]:
status ('Rio Respati','Accountant','29 tahun')

nama saya adalah Rio Respati menjabat sebagai Accountant dengan umur 29 tahun

In [6]:
def add(x,y):
  result = x + y
  print(result)

In [7]:
s = add(5,3)
type(s)

8

NoneType

In [8]:
def minus (x,y):
  result = x - y
  return(result)

In [9]:
e = minus(5,3)
type(e)

int

In [10]:
#kalau pakai fungsi PRINT maka hasilnya akan berupa data NON -TYPE
#SEDANGKAN kalau pakai fungsi return maka hasilnya akan berupa VALUE ( bisa int, bisa str,dll)
# contoh ada di atas

In [11]:
#Contoh lain

In [12]:
numlist = [10,20,30]

In [13]:
def changelist (number):
  numlist = number + [1,2,3]
  return numlist

In [14]:
changelist([10,10,10])
# function changelist secara otomatis akan menambahkan list [1,2,3] sesuai pada format yg telah di buat

[10, 10, 10, 1, 2, 3]

In [15]:
numlist
# masih sama sesuai list awal

[10, 20, 30]

In [16]:
changelist(numlist)
#setelah diberikan awalan function changelist maka list pada numlist[10,20,30]
#akan di tambah oleh list yg sudah tertera pada function yaitu [1,2,3]

[10, 20, 30, 1, 2, 3]

In [17]:
#namun list numlist TIDAK AKAN BERUBAH mengikuti function di atas.
#Hal ini dikarenakan numlist pada function hanya berubah pada equation itu saja.(Local Concept)
#Jika ingin merubah total pada numlist maka diperlukan tambahan code yaitu global tapi hal ini tidak di anjurkan
#hal yang di anjurkan adalah seperti di bawah ini
#CONTOH:

In [18]:
numlist_1 =[100,200,300]
numlist_1

[100, 200, 300]

In [19]:
def changelist(number):
  numlist_1 = number + [1,2,3]
  return numlist_1

In [20]:
numlist_1 = changelist([10,20,30])
numlist_1

[10, 20, 30, 1, 2, 3]

# MASIH BELUM FAHAM TENTANG PENAMBAHAN LIST

In [21]:
def calculation (a,b):
  add = a+b
  min = a-b
  div = a/b
  multi = a*b
  return add,min,div,multi

In [22]:
calculation(3,2)

(5, 1, 1.5, 6)

In [23]:
calculation(8,2)
#hasilnya langsung 4 equation

(10, 6, 4.0, 16)

In [34]:
# bisa di pisah-pisah
# contoh

a,b,c,d = calculation(10,2)
print(f'result of add {a}')
print(f'resulst of minus {b}')
print(f'result of divide {c}')
print(f'result of multiply {d}')

result of add 12
resulst of minus 8
result of divide 5.0
result of multiply 20

In [25]:
#Challenge
#Tampilkan function yang menunjukan angka tertera ganjil atau genap

In [26]:
a = 50

In [43]:

def even_odd (a):
  if a % 2 == 0 :
    print (f'the number {a} is even')
  else :
    print (f'the number {a} is odd')

In [44]:
even_odd (37)

the number 37 is odd

In [29]:
#ATAU BISA JUGA MENGGUNAKAN FUNGSI INPUT

In [59]:
def even_odd (a):
  if a % 2 == 0 :
    print (f'the number {a} is even')
  else :
    print (f'the number {a} is odd')
a = int(input('input number : '))
print(even_odd(a))

input number : 37
the number 37 is odd
None

In [60]:
#CONTOH LAIN :

In [65]:
def deteksi (b) :
  if 'hacktiv8' in (b) :
    print(f'{b} is the right word')
  else :
    print(f'{b} is not the right word')

In [66]:
deteksi('hacktiv8')

hacktiv8 is the right word

In [99]:
deteksi ('rio')

rio is not the right word

In [103]:
# CARA LAIN
def deteksi_1 (c) :
  return 'hacktiv8' in c.lower()

In [105]:
deteksi_1 ('HACKTIV8')

True

In [106]:
# atau pakai INPUT

In [71]:
def deteksi (b) :
  if 'hacktiv8' in (b) :
    print(f'{b} is the right word')
  else :
    print(f'{b} is not the right word')
b = str(input('the word is : '))
print(deteksi (b))

the word is : hacktiv8
hacktiv8 is the right word
None

In [72]:
# CONTOH LAIN
# Jika ingin menambahkan variable pada suatu functions, agar tidak merubah dari awal
# Maka di gunakan command args (*)

In [73]:
# def madd (x,y,z):
  # result = x - y - z
  # return(result)
# fungsi awal adalah x + y, sedangkan kita ingin menambahkan 1 variable menjadi x + y + z
# maka di gunakan command args (*)

In [96]:
def add (*args) :
  return sum(args)

In [97]:
add(100,10,2)

112

In [98]:
add(100,20,10,30,40,50)

250

In [107]:
# fungsi kwargs (**) digunakan untuk menambah DICTIONARY 
# contoh :

In [113]:
def pendaftaran (data,**kwargs) :
  print(data)
  for key,value in kwargs.items():
    print(f'Nama penumpang : {key:}')
    print(f'Tujuan keberangkatan : {value}')

In [114]:
pendaftaran (5,Rio = 'Surabaya', Andy = 'Jakarta', Elton = 'Makasar', Dhany = 'Bandung', John = 'Malang')

5
Nama penumpang : Rio
Tujuan keberangkatan : Surabaya
Nama penumpang : Andy
Tujuan keberangkatan : Jakarta
Nama penumpang : Elton
Tujuan keberangkatan : Makasar
Nama penumpang : Dhany
Tujuan keberangkatan : Bandung
Nama penumpang : John
Tujuan keberangkatan : Malang

In [115]:
# Challenge BMI Formula

In [167]:
# R.R BMI Formula
 
def bmi (weight,height) :
  bmi_calc = weight / ((height/100)**2)
  if bmi_calc > 0 :
    if bmi_calc > 30 :
      print(f'your bmi index is {bmi_calc} and categorized as VERY OVERWEIGHT')
    elif 25 <= bmi_calc <= 29.9 :
      print(f'your bmi index is {bmi_calc} and categorized as OVERWEIGHT')
    elif 18.5 <= bmi_calc < 25 :
      print(f'your bmi index is {bmi_calc} and categorized as NORMAL')
    else :
      print(f'your bmi index is {bmi_calc} and categorized as UNDERWEIGHT')

In [168]:
bmi(89,182)

your bmi index is 26.86873565994445 and categorized as OVERWEIGHT

In [155]:
#MASUKAN FUNGSI INPUT

In [166]:
# R.R BMI Formula input
weight = int(input("Input your weight (kg) : "))
height = int(input('Input your height (cm) : '))

def bmi (weight,height) :
  bmi_calc = weight / ((height/100)**2)
  if bmi_calc > 30 :
    print(f'your bmi index is {bmi_calc} and categorized as VERY OVERWEIGHT')
  elif 25 <= bmi_calc <= 29.9 :
    print(f'your bmi index is {bmi_calc} and categorized as OVERWEIGHT')
  elif 18.5 <= bmi_calc < 25 :
    print(f'your bmi index is {bmi_calc} and categorized as NORMAL') 
  else :
    print(f'your bmi index is {bmi_calc} and categorized as UNDERWEIGHT')

print(bmi(weight,height))

Input your weight (kg) : 89
Input your height (cm) : 182
your bmi index is 26.86873565994445 and categorized as OVERWEIGHT
None

# MASUKAN FUNGSI INPUT MASIH BELUM LANCAR!