In [12]:
import pandas as pd

In [13]:
import numpy as np

## Struktur data bentuk series

In [14]:
# struktur data bentuk series mirip dengan list
# menggunakan syntax pd.series
# CONTOH :

revenues = pd.Series([5000,7000,9000])
print(revenues)
print(type(revenues))

0    5000
1    7000
2    9000
dtype: int64
<class 'pandas.core.series.Series'>

In [15]:
# Mencari value dari series
# .values

revenues.values

array([5000, 7000, 9000])

In [16]:
# Mencari index dari series
# .index

revenues.index

#jika index tidak di specify makan index akan mulai dari 0

RangeIndex(start=0, stop=3, step=1)

In [17]:
# MERUBAH data Index
# Contoh

city_revenues = pd.Series([1000,2000,3000],
                 index=['Amsterdam','Toronto','Tokyo'])
city_revenues

# index yang sudah ditulis otomatis masuk ke index

Amsterdam    1000
Toronto      2000
Tokyo        3000
dtype: int64

In [18]:
#CARA LAIN Membuat series dengan index yang telah di tentukan
city_employee_count = pd.Series({
    'Amsterdam' : 5, 
    'Tokyo' : 8})

city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [19]:
"Tokyo" in city_employee_count
#karena tokyo di dalam series city_employee_count

True

In [20]:
"london" in city_employee_count

False

In [21]:
#karena london tidak di dalam series city_employee_count

#Data Frame

In [26]:
city_data = pd.DataFrame({
    'revenue' : city_revenues,
    'employee_count' : city_employee_count
})

city_data

#Kalau di DataFrame keys = kolom, valuesnya di tulis setelahnya dan menjadi isi dari row
#Terlihat bahwa Toronto yang tidak mempunyai data pada city_employee_count tertulis NaN

           revenue  employee_count
Amsterdam     1000             5.0
Tokyo         3000             8.0
Toronto       2000             NaN

In [27]:
 city_data.index
 # Untuk mengetahui index apa saja pada suatu Series

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [28]:
city_data.values
 # Untuk mengetahui values apa saja pada suatu Series

array([[1000.,    5.],
       [3000.,    8.],
       [2000.,   nan]])

In [32]:
city_data.axes
# Menunjukan seluruh index yang ada pada suatu Data Series

[Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object'),
 Index(['revenue', 'employee_count'], dtype='object')]

In [33]:
city_data.axes [0]
#menunjukan nama index di KOLOM

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [34]:
city_data.axes[1]
#menunjukan nama index di BARIS

Index(['revenue', 'employee_count'], dtype='object')

In [36]:
city_data.keys()
#Nama Kolom pada DataFrame

Index(['revenue', 'employee_count'], dtype='object')

In [37]:
'Amsterdam' in city_data

False

In [38]:
'Tokyo' in city_data

False

In [39]:
'2000' in city_data

False

In [40]:
2000 in city_data

False

In [43]:
'employee_count' in city_data

True

#Access Element dari Series

In [44]:
city_revenues

Amsterdam    1000
Toronto      2000
Tokyo        3000
dtype: int64

In [47]:
city_revenues['Toronto']
#Disebut dengan Label Indices
#Langsung di cari dari namanya

2000

In [48]:
 city_revenues[1]
 #Disebut dengan Position Indices
 #Di cari lewat urutan index
 #index ke 0 -> Amsterdam, index ke 1 -> Toronto

2000

In [49]:
city_revenues[-1]
#Di ambil dari data paling akhir

3000

In [52]:
city_revenues[1:]
#ARTINYA ini memanggil index pertama dan seterusnya

Toronto    2000
Tokyo      3000
dtype: int64

In [54]:
city_revenues['Toronto':]
#Cara lain dengan langsung tulis label indicesnya

Toronto    2000
Tokyo      3000
dtype: int64

#USING LOC dan ILOC

In [55]:
colors = pd.Series(['red','purple','blue','green','yellow'],
                   index=[1,2,3,5,8])

In [56]:
colors

1       red
2    purple
3      blue
5     green
8    yellow
dtype: object

In [57]:
#Kalau kita pakai cara pangggilan index biasa maka system akan membaca red = 0, purple = 1
#Sedangkan kita mau panggil 1 = red, 2 = purple
#Kalau indexnya tidak string akan repot

In [61]:
# Caranya pakai loc dan iloc
# .loc di pakai untuk memanggil LABEL INDEX. sehingga kalau di tulis 1 maka yg muncul akan red
# .iloc di pakai untuk memanggil POSITIONING INDEX. Sehingga kalau di tulis 1 maka yang muncul akan purple
# CONTOH :

In [62]:
colors.loc[1]

'red'

In [63]:
colors.iloc[1]

'purple'

SLICING DAN SELECTING through loc & iloc

In [64]:
colors

1       red
2    purple
3      blue
5     green
8    yellow
dtype: object

In [67]:
#Mau pilih yang blue :

colors.loc[3]

'blue'

In [68]:
colors.iloc[2]

'blue'

In [69]:
#mau slicing blue kebawah

colors.loc[3:]

3      blue
5     green
8    yellow
dtype: object

In [70]:
colors.iloc[2:]

3      blue
5     green
8    yellow
dtype: object

In [72]:
#mau slicing purple s.d green

colors.loc[2:5]
#Kalau pakai loc index terakhirnya tidak stop -1 tapi stop saja.

2    purple
3      blue
5     green
dtype: object

In [76]:
colors.iloc[1:4]
# Kalau pakai iloc indexnya stop-1

2    purple
3      blue
5     green
dtype: object

In [78]:
colors.iloc[-2]
#Kalau memilih dari belakang conceptnya sama dengan std indexing

'green'

# Accessing DATA FRAME

In [79]:
city_data

           revenue  employee_count
Amsterdam     1000             5.0
Tokyo         3000             8.0
Toronto       2000             NaN

In [84]:
city_data['revenue']
#Slicing dari nama kolom secara langsung pakai quotes ['xxx']

Amsterdam    1000
Tokyo        3000
Toronto      2000
Name: revenue, dtype: int64

In [85]:
city_data.employee_count
#Slicing dari nama kolom secara langsung tapi pakai .(titik)

Amsterdam    5.0
Tokyo        8.0
Toronto      NaN
Name: employee_count, dtype: float64

In [86]:
#CONTOH BARU

In [89]:
toys = pd.DataFrame ([
       {'name' : 'ball', 'shape' : 'sphere'},  
       {'name' : 'Rubiks cube', 'shape' : 'cube'}
])

In [91]:
toys
#Data pada baris pertama untuk row 1, dst

          name   shape
0         ball  sphere
1  Rubiks cube    cube

In [92]:
toys['shape']

0    sphere
1      cube
Name: shape, dtype: object

In [93]:
toys.shape

(2, 2)

### Pada Case di atas, jika menggunakan titik maka yang terlihat pada .shape adalah shape dari dataframe tersebut yaitu terdiri dari 2 baris dan 2 kolom (2,2).

### Sehingga lebih baik menggunakan [] untuk memanggil data

In [94]:
# CONTOH LAIN

In [95]:
city_data

           revenue  employee_count
Amsterdam     1000             5.0
Tokyo         3000             8.0
Toronto       2000             NaN

In [98]:
city_data.loc['Amsterdam']
# Terlihat detail revenue dan employee_count dari amsterdam.
# Muncul seluruh data ttg Amsterdam

revenue           1000.0
employee_count       5.0
Name: Amsterdam, dtype: float64

In [101]:
city_data.iloc[0]
# ini jika menggunakan .iloc untuk mencari Amsterdam

revenue           1000.0
employee_count       5.0
Name: Amsterdam, dtype: float64

In [103]:
city_data['Tokyo':'Toronto']
#ini SLICING dari labelnya

         revenue  employee_count
Tokyo       3000             8.0
Toronto     2000             NaN

In [107]:
city_data[1:3]
#Ini SLICING dari positioningnya

         revenue  employee_count
Tokyo       3000             8.0
Toronto     2000             NaN

#### Memilih dengan 2 parameter

In [108]:
city_data

           revenue  employee_count
Amsterdam     1000             5.0
Tokyo         3000             8.0
Toronto       2000             NaN

In [112]:
city_data.loc['Amsterdam':'Tokyo','employee_count']
# formatnya adalah [baris, kolom]

Amsterdam    5.0
Tokyo        8.0
Name: employee_count, dtype: float64

In [113]:
city_data.loc['Amsterdam':'Tokyo','revenue']
# formatnya adalah [baris, kolom]

Amsterdam    1000
Tokyo        3000
Name: revenue, dtype: int64

### Fungsi Aritmathic di Data Frame

In [117]:
city_data

           revenue  employee_count
Amsterdam     1000             5.0
Tokyo         3000             8.0
Toronto       2000             NaN

In [115]:
city_data.sum()
#menambahkan masing masing kolom

revenue           6000.0
employee_count      13.0
dtype: float64

In [121]:
city_data['revenue'].sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of Amsterdam    1000
Tokyo        3000
Toronto      2000
Name: revenue, dtype: int64>

In [122]:
city_data['employee_count'].sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of Amsterdam    5.0
Tokyo        8.0
Toronto      NaN
Name: employee_count, dtype: float64>

#Filtering Data Frame

In [123]:
dataFrame = pd.DataFrame({"Product": ["SmartTV", "ChromeCast", "Speaker", "Earphone"],
                          "Opening_Stock": [300, 700, 1200, 1500],
                          "Closing_Stock": [200, 500, 1000, 900]})

In [125]:
dataFrame

      Product  Opening_Stock  Closing_Stock
0     SmartTV            300            200
1  ChromeCast            700            500
2     Speaker           1200           1000
3    Earphone           1500            900

In [129]:
# Filter data
# hilangkan SmartTV dari data frame tersebut
# Caranya dengan menggunakan numpy dan pandas

print("DataFrame...\n",dataFrame)

# using numpy where() to filter DataFrame with 2 Conditions
resValues1 = np.where((dataFrame['Opening_Stock']>=700) & (dataFrame['Closing_Stock']< 1000))

print("\nFiltered DataFrame Value = \n",dataFrame.loc[resValues1])

# using numpy where() to filter DataFrame with 3 conditions
resValues2 = np.where((dataFrame['Opening_Stock']>=500) & (dataFrame['Closing_Stock']< 1000) & (dataFrame['Product'].str.startswith('C')))

print("\nFiltered DataFrame Value = \n",dataFrame.loc[resValues2])

DataFrame...
       Product  Opening_Stock  Closing_Stock
0     SmartTV            300            200
1  ChromeCast            700            500
2     Speaker           1200           1000
3    Earphone           1500            900

Filtered DataFrame Value =
       Product  Opening_Stock  Closing_Stock
1  ChromeCast            700            500
3    Earphone           1500            900

Filtered DataFrame Value =
       Product  Opening_Stock  Closing_Stock
1  ChromeCast            700            500

#Combining Multiple Datasets

In [132]:
city_data

           revenue  employee_count
Amsterdam     1000             5.0
Tokyo         3000             8.0
Toronto       2000             NaN

In [136]:
further_city_data = pd.DataFrame(
    {'revenue' : [7000,3400],
    'employee_count' : [2,2]},

    index=['New York','Barcelona']
)

further_city_data

           revenue  employee_count
New York      7000               2
Barcelona     3400               2

In [139]:
# Menggabungkan baris
# LALU Gabungkan city_data dan further_city_data
# menggunakan syntax pd.concat
# CONTOH :

In [142]:
all_city_data = pd.concat([city_data,further_city_data])
all_city_data

#Seluruh data di city_data dan further_city_data tergabung seperti di bawah

           revenue  employee_count
Amsterdam     1000             5.0
Tokyo         3000             8.0
Toronto       2000             NaN
New York      7000             2.0
Barcelona     3400             2.0

In [143]:
#CARA LAIN :

city_countries = pd.DataFrame({
    "country": ["Holland", "Japan", "Holland", "Canada", "Spain"],
    "capital": [1, 1, 0, 0, 0]},
    index=["Amsterdam", "Tokyo", "Rotterdam", "Toronto", "Barcelona"]
)

In [144]:
city_countries

           country  capital
Amsterdam  Holland        1
Tokyo        Japan        1
Rotterdam  Holland        0
Toronto     Canada        0
Barcelona    Spain        0

In [145]:
cities = pd.concat([all_city_data, city_countries], axis=1, sort=False)

In [146]:
cities

           revenue  employee_count  country  capital
Amsterdam   1000.0             5.0  Holland      1.0
Tokyo       3000.0             8.0    Japan      1.0
Toronto     2000.0             NaN   Canada      0.0
New York    7000.0             2.0      NaN      NaN
Barcelona   3400.0             2.0    Spain      0.0
Rotterdam      NaN             NaN  Holland      0.0

In [149]:
# Dari data frame di atas terlihat seluruh data sudah tergabung.
# Namun terdapat beberapa data yang NaN karena tidak ada data yang di gabung.
# Untuk menghilangkan data NaN tersebut dapat menggunakan command join.
# CONTOH :

pd.concat([all_city_data, city_countries], axis=1, join="inner")
#join='inner' berarti system akan compare data baris yang sama.

           revenue  employee_count  country  capital
Amsterdam     1000             5.0  Holland        1
Tokyo         3000             8.0    Japan        1
Toronto       2000             NaN   Canada        0
Barcelona     3400             2.0    Spain        0

In [150]:
# CARA LAIN 
# Menggunakan Merge

In [151]:
countries = pd.DataFrame({
    "population_millions": [17, 127, 37],
    "continent": ["Europe", "Asia", "North America"]
}, index=["Holland", "Japan", "Canada"])

countries

         population_millions      continent
Holland                   17         Europe
Japan                    127           Asia
Canada                    37  North America

In [152]:
cities

           revenue  employee_count  country  capital
Amsterdam   1000.0             5.0  Holland      1.0
Tokyo       3000.0             8.0    Japan      1.0
Toronto     2000.0             NaN   Canada      0.0
New York    7000.0             2.0      NaN      NaN
Barcelona   3400.0             2.0    Spain      0.0
Rotterdam      NaN             NaN  Holland      0.0

In [154]:
pd.merge(cities, countries, left_on="country", right_index=True)
#left_on parameter di gunakan untuk memfokuskan pada 1 label.
# Pada case ini system akan memfokuskan pada kolom yang mempunyai country yang sama di kedua DataFrame tsb

,revenue,employee_count,country,capital,population_millions,continent
Amsterdam,1000.0,5.0,Holland,1.0,17,Europe
Rotterdam,NaN,NaN,Holland,0.0,17,Europe
Tokyo,3000.0,8.0,Japan,1.0,127,Asia
Toronto,2000.0,NaN,Canada,0.0,37,North America

In [156]:
pd.merge(
    cities,
    countries,
    left_on="country",
    right_index=True,
    how="left"
)
#Menggabungkan seluruh data

,revenue,employee_count,country,capital,population_millions,continent
Amsterdam,1000.0,5.0,Holland,1.0,17.0,Europe
Tokyo,3000.0,8.0,Japan,1.0,127.0,Asia
Toronto,2000.0,NaN,Canada,0.0,37.0,North America
New York,7000.0,2.0,NaN,NaN,NaN,NaN
Barcelona,3400.0,2.0,Spain,0.0,NaN,NaN
Rotterdam,NaN,NaN,Holland,0.0,17.0,Europe