# Pengenalan Pyhton

In [3]:
# numerik : interger, float, complek
print (5)
type (5)

5

int

In [5]:
# interger
angka = 8
print (angka)
type (angka)

8

int

In [7]:
angka = 37
print (angka)

37

In [9]:
angka_kedua = 8.0
print (angka_kedua)
type (angka_kedua)

8.0

float

In [11]:
# bill. kompleks
angka_kompleks = 3+7j
print (angka_kompleks)
type (angka_kompleks)

(3+7j)

complex

In [14]:
print (5+9)
print (2+4)

14
6

In [15]:
5+9
2+4

6

In [20]:
angka = 5.8e3
print (angka)

5800.0

In [19]:
print (angka)

57999997.0

#Fokus ke string

In [22]:
nama = "rio respati"
print(nama)
type(nama)

rio respati

str

In [23]:
lirik = """kamu dimana
dengan siapa
semalam berbuat apa"""
print (lirik)

kamu dimana
dengan siapa
semalam berbuat apa

In [32]:
# Selecting Character
nama = "rio respati"
nama [4]

'r'

In [33]:
nama [-3]

'a'

In [36]:
nama [1:4:5]

'i'

In [37]:
nama

'rio respati'

In [38]:
nama [1:5]

'io r'

In [43]:
nama

'rio respati'

In [44]:
True

True

In [45]:
False

False

In [47]:
is_married = True
print (is_married)
type (is_married)

True

bool

In [48]:
100<500

True

In [49]:
100 > 500

False

In [50]:
n = 500

In [51]:
print(n)

500

In [52]:
a = b = c = 700

In [55]:
print(a)
print(b)
print(c)

700
700
700

In [56]:
nama

'rio respati'

In [57]:
#Operasi

#Operasi

angka_1 = 5

angka_1 = 5
angka_2 = 3

In [61]:
angka_1 = 6
angka_2 = 3

print (f"hasil penjumlahan : {angka_1 + angka_2}")
print (f"hasil pengurangan : {angka_1 - angka_2}")
print (f"hasil perkalian : {angka_1 * angka_2}")
print (f"hasil pembagian normal: {angka_1 / angka_2}")
print (f"hasil pembagian bulat : {angka_1 // angka_2}")
print (f"hasil pangkat: {angka_1 ** angka_2}")
print (f"hasil sisa bagi : {angka_1 & angka_2}")

hasil penjumlahan : 9
hasil pengurangan : 3
hasil perkalian : 18
hasil pembagian normal: 2.0
hasil pembagian bulat : 2
hasil pangkat: 216
hasil sisa bagi : 2

In [66]:
#Operasi string
string_1 = "Rio"
string_2 = "Respati"
print(f"Concatenation : {string_1 + string_2}")
print(f"Repeating : {string 1 *3})

SyntaxError: EOL while scanning string literal (3613785297.py, line 5)

In [67]:
nama = "Rio Respati"

In [68]:
nama

'Rio Respati'

In [70]:
nama.upper()

'RIO RESPATI'

In [71]:
#Type Data Majemuk

#type Data Majemuk

In [72]:
a = [1,2,3,4,5]

In [73]:
a

[1, 2, 3, 4, 5]

In [75]:
# Append
a.append(100)

In [76]:
a

[1, 2, 3, 4, 5, 100]

In [77]:
#insert
a.insert(3,89)

In [78]:
a

[1, 2, 3, 89, 4, 5, 100]

In [79]:
a.remove(100)

In [80]:
a

[1, 2, 3, 89, 4, 5]

In [87]:
biodata = {"nama" : "Rio R",
           "usia" : "29 Tahun",
           "pekerjaan" : "Data Science",
           "Company" : "Hacktive8" }
Print(biodata)

NameError: name 'Print' is not defined