## Pengenalan Python

###Type Data

#### Interger

In [2]:
# numerik : interger , float, complex
# merupakan contoh data tunggal

# interger adalah bilangan bulat seperti 5, 10, 600, 2475, etc

print (5)
print(type (5))

5
<class 'int'>

In [3]:
# data bisa di simpan ke suatu varible
# ex :

number = 37

print(number)
type(number)
# number merupakan varible yang isinya interger 37

37

int

In [4]:
# varible dapat di ganti dan dapat di update/di overwrite.
# ex :

number = 500

print(number)
print(type (number))
# int 7 tidak lagi ada di dalam variable number,
# karena variable number sudah berubah menjadi 500

500
<class 'int'>

#### Float

In [5]:
# merupakan bilangan yang mempunyai comma ,
# ex : 5.0 , 5.7 , etc

In [6]:
number_2 = 7.0
print (number_2)
print(type (number_2))

# terlihat hasil tetap tertulis angka 7 namun type data menjadi float

7.0
<class 'float'>

In [7]:
print(4.)
print(.2)
print(4e4)
print(.4e4)
print(4.2e4)
print(4.2e-4)
# 4. = 4.0 atau 4
# .2 = 0.2
# 4.e4 = 40000 -> x 1000
# .4e4 = 4000 -> x1000
# 4.2e-4 = 42000 -> : 1000

4.0
0.2
40000.0
4000.0
42000.0
0.00042

### Type data int dan float yang paling sering digunakan

##### Complex

In [8]:
# bilangan yang mempunyai struktur bill. riil dan bill. imajiner
# contoh :
# 2 + 5j, dll
# 2 = bill. riil, 5j = bill imajiner
# pada python bill imajiner menggunakan konsonan j

number_complex = 2+5j
print(number_complex)
print(type(number_complex))

(2+5j)
<class 'complex'>

### Fungsi Print
- penggunaan print diperlukan dalam coding, karena membuktikan adanya proses coding.
- print dapat dilakukan secara bersamaan dan akan di proses bertahap oleh system.
- JIKA tidak ada fungsi print, maka system akan hanya membaca equation terakhir dan tidak di bukukan sebagai coding
- JIKA tidak memakai print, maka pada script (.py) tidak akan terbaca.

contoh :

In [9]:
# TANPA PRINT

5 + 5
3 + 3

# yang muncul hanya 3+3 karena merupakan eq terakhir

6

In [10]:
# MEMAKAI PRINT
print (5+5)
print (3+3)

# kedua equation tersebut akan keluar semua,
# karena system akan membaca 1 1 dan memproses seluruh equation.

10
6

### Strings

- string merupakan sequence dari sebuah character
- contoh : "rio" -> sequence dari r,i, dan o
- cirinya memakai tanda kutip "" atau ''
-

In [11]:
# String = sequence of character

name = "Rio Respati"
print(name)
type(name)
# atau
nama = 'Rio Respati'
print(nama)
type(nama)

Rio Respati
Rio Respati

str

In [12]:
## jika tidak menggunakan tanda kutip maka sequence tersebut tidak menjadi string, namun menjadi variable.
## variable harus di definisikan terlebih dahulu, jika tidak maka system tidak akan recognize (syntax error)
# contoh ada di bawah :

"Rio Respati"

'Rio Respati'

In [13]:
Rio Respati

SyntaxError: invalid syntax (3593479316.py, line 1)

In [ ]:
# contoh lain
# penulisan hari Jum'at

"jum'at"
print("jum'at")
print(type("jum'at"))

jum'at
<class 'str'>

In [ ]:
# JIKA penulisan hari jumat ini menggunakan kutip 1,
# maka menggunakan escape character dengan backslash \
# contoh :

hari = 'jum\'at'
print(hari)
print(type(hari))

jum'at
<class 'str'>

In [ ]:
# MULTILINE String
# String hanya bisa di tulis di 1 line.
# JIKA mau menulis di lebih dari 1 line harus menggunakan
# triple quote yg disebut dengan multiline string
# contoh


lyric = ("""i walk a lonely road
the only thing that
i've ever known
don't know where it goes
but it's home to me
and i walk alone """)

print(lyric)

i walk a lonely road
the only thing that
i've ever known
don't know where it goes
but it's home to me
and i walk alone

#### SELECTING Data String

In [ ]:
#system phyton memberikan start sequence dari angka 0
#sehingga pada data string rio respati huruf r pertama di hitung sebagai character ke - 0, dst

In [ ]:
print(name)

Rio Respati

In [18]:
# Selecting spesific character di data string

print (name)
print(name[0])
print(name[1])
print(name[-2])
#character ke 0 adalah r, character ke 1 adalah i
#character ke -2 adalah t yang di ambil 2 dari belakang

Rio Respati
R
i
t

#### SLICING DATA STRING

In [19]:
# Slicing Data String
# Digunakan untuk mengambil bagian dari data string
# formatnya adalah [i1,i2,i3] dimana :
# i1 = indeks awal inclusive
# i2 = indeks akhir exclusive
# i3 = step

# CONTOH

In [20]:
print(name)

Rio Respati

In [30]:
print(name[0:3:1])
# i1 = start awal slicing dengan huruf R
# i2 = start akhir slicing dengan tanda spasi,
# namun dikarenakan i2 sifatnya exclusive maka yang di ambil character ke 3
# i3 = stepnya berarti system mengambil 1 step.

Rio

In [32]:
print(name[0:9:2])
#i1 = huruf awal R
#i2 = huruf terakhir adalah t, sehingga yang di ambil huruf sebelumnya yaitu huruf a
#i3 = dilongkap 1 huruf karena per 2 step baru ambil character

RoRsa

In [33]:
print(name[0:3:1])
print(name[4:11:1])

Rio
Respati

#### STRING FORMATTING

In [34]:
#Metode untuk memasukan sesuatu kedalam string

In [38]:
name = 'Rio Respati'
age = 29

In [39]:
# masukan name dan age ke suatu kalimat
# menggunakan f string dan parantheses
#contoh

print(f'my name is : {name} and im {age} years old')

my name is : Rio Respati and im 29 years old

In [42]:
name = "Rio Respati"
age = 29 
job = 'Golf'

print(f'my name is :{name} and im {age} years old with {job} as a hobby')

my name is :Rio Respati and im 29 years old with Golf as a hobby

### USER INPUT PROGRAM

In [45]:
# cara menggunakan input program adalah dengan menuliskan input sebelum function
# nanti hasilnya user harus melakukan input data terlebih dahulu sebelum hasilnya dapat di lihat/di print

In [46]:
name = input('input your name : ')
age = input('input your age: ')
print(f'my name is {name} and im {age} years old')

my name is : Rio Respati and im 29 years old

In [3]:
name = input('input your name :')
age = input('input your age : ')
team = input('input your team : ')
position = input('input your position :')
print(f'My name is {name} and im {age}, currently im playing for {team} as a {position}  ')

My name is Rio Respati and im 29, currently im playing for Persebaya as a GK

In [4]:
name = input('input your name :')
age = input('input your age : ')
team = input('input your team : ')
position = input('input your position :')
print(f'My name is {name} and im {age}') 
print(f'currently im playing for {team} as a {position}  ')

My name is Rio R and im 29
currently im playing for Elite as a GK

In [5]:
name = input('input your name :')
age = input('input your age : ')
team = input('input your team : ')
position = input('input your position :')
print(f'My name is {name} and im {age}\n currently im playing for {team} as a {position}  ')

My name is Rio R and im 29
 currently im playing for Arema as a GK

In [7]:
name = input('input your name :')
age = input('input your age : ')
team = input('input your team : ')
position = input('input your position :')
print(f'''My name is {name} and im {age}, 
currently im playing for {team} 
as a {position}  ''')

My name is Rio R and im 29,
currently im playing for Manchester United
as a GK

### BOOLEAN

In [8]:
# binary number artinya 0 atau 1, True or False
# Penulisan tanpa petik karena bukan string

In [10]:
True

True

In [11]:
False

False

In [15]:
# contoh penulisan boolean
is_married = True
print(is_married)
type(is_married)

True

bool

In [19]:
# bisa juga untuk logic equation
print (100 < 500)
print (100 > 500)

True
False

In [26]:
p = 25
print (p)
print(type(p))
p == 25

25
<class 'int'>

True

In [27]:
p == 30

False

### Variable Assignment lanjutan

In [29]:
a = b = c = 300
print(a)
print(b)
print(c)

300
300
300

In [32]:
a,b,c = 1,2,3
print(f'a : {a}')
print(f'b : {b}')
print(f'c : {c}')

a : 1
b : 2
c : 3

### Aritmethic Operations

In [35]:
a = 5
b = 2

print(f'hasil penjumlahan :{a + b}')
print(f'hasil pengurangan :{a - b}')
print(f'hasil perkalian :{a * b}')
print(f'hasil pembagian normal :{a / b}')
print(f'hasil pembagian bulat:{a // b}')
print(f'hasil pangkat :{a ** b}')
print(f'hasil sisa bagi :{a % b}')

hasil penjumlahan :7
hasil pengurangan :3
hasil perkalian :10
hasil pembagian normal :2.5
hasil pembagian bulat:2
hasil pangkat :25
hasil sisa bagi :1

In [36]:
#pembagian bulat memaksa hasil output berupa bilangan bulat
#sisa bagi biasa dipakai untuk even and odd

### ARITMETHIC OPS in String data

In [43]:
# CONCATENATION

first_name = 'Rio'
last_name = 'Respati'

print(f'concatenation : {first_name + " " + last_name}')

concatenation : Rio Respati

In [41]:
# Function concatenation hanya untuk menggabungkan sesama data string
# tanda kutip di tengah untuk menambahkan spasi antara Rio dan Respati,
# namun dikarenakan harus dalam bentuk string maka perlu diberikan tanda kutip

In [50]:
#REPEATING

first_name = 'Rio'
last_name = 'Respati'

print(f'Repeating : {(first_name + " " + last_name) * 3}')

Repeating : Rio RespatiRio RespatiRio Respati

### COMPARISON OPERATOR

In [55]:
a = 10
b = 7

print(f'{a} == {b} (sama dengan) : {a == b}')
print(f'{a} != {b} (tidak sama dengan) : {a !=b}')
print(f'{a} > {b} (lebih besar) : {a < b}')
print(f'{a} >= {b} (lebih besar sama dengan) : {a < b}')
print(f'{a} < {b} (lebih kecil) : {a < b}')
print(f'{a} <= {b} (lebih kecil sama dengan) : {a < b}')

10 == 7 (sama dengan) : False
10 != 7 (tidak sama dengan) : True
10 > 7 (lebih besar) : False
10 >= 7 (lebih besar sama dengan) : False
10 < 7 (lebih kecil) : False
10 <= 7 (lebih kecil sama dengan) : False

### String Manipulation

In [56]:
name = 'Rio Respati'

In [66]:
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.title())
print(name.swapcase())

RIO RESPATI
rio respati
Rio respati
Rio Respati
rIO rESPATI

In [67]:
#.upper = Jadi huruf besar semua
#.lower = Jadi huruf kecil semua
#.capitalise = Huruf pertama jadi huruf besar
#.title = huruf besar setelah spasi
#.swapcase = kebalikan dari posisi huruf awal (besar - kecil atau kecil-besar)

### Bilangan Majemuk / Compound Number

##### Consist of tupple and list

In [68]:
# list & tuppler
# sama - sama bisa menyimpan beberapa data tunggal di dalamnya.
# list menggunakan kurung siku
# tuple menggunakan kurung biasa

In [70]:
tuple_1 = (1,2,3,4,5,"Rio", True, (7,8,9))
list_1 = [1,2,3,4,5,"Rio", True, (7,8,9)]

print(type(tuple_1))
print(type(list_1))

<class 'tuple'>
<class 'list'>

In [71]:
# terlihat walaupun isi datanya sama namun bentuk datanya berbeda yang 1 tuple yang 1 list

In [72]:
#hitung data yang ada di dalam tuple dan list
len(list_1)

8

In [73]:
len(tuple_1)

8

In [74]:
#Select dan Slicing

In [75]:
list_1

[1, 2, 3, 4, 5, 'Rio', True, (7, 8, 9)]

In [80]:
print(list_1[5])
print(list_1[-3])
#Selecting menggunakan kurung siku, data ke 5 merupakan rio

Rio
Rio

In [81]:
print(tuple_1[5])
print(tuple_1[-3])

Rio
Rio

In [83]:
print(list_1[1:5])
print(type(list_1[1:5]))
print(tuple_1[1:5])
print(type(tuple_1[1:5]))

[2, 3, 4, 5]
<class 'list'>
(2, 3, 4, 5)
<class 'tuple'>

#### PERBEDAAN LIST DAN TUPPLE

In [86]:
# List dapat di rubah
# tuple tidak dapat di rubah

# contoh :

In [90]:
list_1[5] = 'Rio Respati'
list_1
# character ke 5 yaitu Rio berubah menjadi Rio Respati
# List DAPAT DI RUBAH

[1, 2, 3, 4, 5, 'Rio Respati', True, (7, 8, 9)]

In [93]:
tuple_1[5] = "Rio Respati"
tuple_1
# Tertulis pada keterangan di bawah bahwa tuple tidak dapat di RUBAH

TypeError: 'tuple' object does not support item assignment

#### LIST METHOD

##### Menambahkan data pada list

In [96]:
r = [1,2,3,4,5]
print(type(r))
r

<class 'list'>

[1, 2, 3, 4, 5]

In [98]:
# append
r.append(88)
r
#Secara otomatis angka 88 akan muncul di akhir list

[1, 2, 3, 4, 5, 88, 88]

In [99]:
# insert 

r.insert(3,77)
r

#angka 77 akan muncul dan menjadi sequence ke 3 dalam list

[1, 2, 3, 77, 4, 5, 88, 88]

#### Hapus data dari list

In [100]:
r

[1, 2, 3, 77, 4, 5, 88, 88]

In [111]:
#hapus berdasarkan value di dalam list
r.remove(4)
print(r)

# angka 4 pada list sudah hilang

[1, 2, 3, 77, 5, 88, 88]

In [126]:
#hapus berdasarkan lokasi dalam list
del r[2]

#seq ke 2 adalah 3, maka angka 3 akan hilang
r

[1, 2, 77, 5, 88, 88]

## DICTIONARY

In [144]:
biodata = {'name' : 'Rio Respati',
            'age' : '29 years old',
            'job' : 'student',
            'company' : 'Hactiv8'}
print(biodata)

{'name': 'Rio Respati', 'age': '29 years old', 'job': 'student', 'company': 'Hactiv8'}

In [145]:
biodata['name']

'Rio Respati'

In [146]:
biodata['job']

'student'

In [147]:
biodata['name'] = 'Rio R'
biodata

{'name': 'Rio R',
 'age': '29 years old',
 'job': 'student',
 'company': 'Hactiv8'}

In [148]:
biodata['status'] = 'Married'
biodata

{'name': 'Rio R',
 'age': '29 years old',
 'job': 'student',
 'company': 'Hactiv8',
 'status': 'Married'}